$color-primary: rgb(222, 234, 238);
$color-text: rgb(14, 14, 14);
$color-empty: rgb(99, 116, 99);
$color-valid: rgb(210, 192, 181);
$color-road: gray;
$font-headers: 'Fredoka One', sans-serif;
$font-text: 'Signika', sans-serif;

body * {
    margin: 0 auto;
    text-align: center;
    font-family: $font-text;
    color: $color-text;
}

header {
    font-family: $font-headers;
}

.scoreboard {
    margin-bottom: 2em;
    display: flex;
    max-width: 400px;
}

.scoreboard span {
    width: 50%;
}

#grid-container {
    width: 410px;
    padding: 1em;
    
    background: $color-primary;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    border-radius: .5em;
    .square {
        width: 100px;
        height: 100px;
        background: $color-valid;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        .road-block {
            width: calc(100%/3);
            height: calc(100%/3);
            box-sizing: border-box;
        }
        .e-road,
        .w-road,
        .n-road,
        .s-road,
        .se-road,
        .nw-road,
        .sw-road,
        .ne-road {
            background: $color-road;
        }

        .e-road,
        .w-road {
            
            border-top: 11px solid $color-valid;
            border-bottom: 11px solid $color-valid;
        }
        .n-road,
        .s-road {
            border-left: 11px solid $color-valid;
            border-right: 11px solid $color-valid;
        }
        .se-road,
        .nw-road {
            clip-path: polygon(0 0, 25% 0, 100% 75%, 100% 100%, 75% 100%, 0 25%);
        }
        .sw-road,
        .ne-road {
            clip-path: polygon(75% 0, 100% 0, 100% 25%, 25% 100%, 0 100%, 0 75%);

        }
        .building {
            background: $color-text;
            border-top-left-radius: 1em;
            border-top-right-radius: 1em;
        }
    }
    .square-empty {
        background: $color-empty;
    }
}

.parcel {
    opacity: .5;
}
