$color-primary: rgb(222, 234, 238);
$color-text: rgb(14, 14, 14);
$color-empty: gray;
$color-valid: rgb(210, 192, 181);
$font-headers: 'Fredoka One', sans-serif;
$font-text: 'Signika', sans-serif;

body * {
    margin: 0 auto;
    text-align: center;
    font-family: $font-text;
    color: $color-text;
}

header {
    font-family: $font-headers;
}

.scoreboard {
    margin-bottom: 2em;
    display: flex;
    max-width: 400px;
}

.scoreboard span {
    width: 50%;
}

#grid-container {
    width: 512px;
    padding: 1em;
    background: $color-primary;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    border-radius: .5em;
    gap: 2px;
    .square-valid {
        width: 100px;
        height: 100px;
        background: $color-valid;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2.5em;
        
    }
    .square-empty {
        width: 100px;
        height: 100px;
        background: $color-empty;
        box-sizing: border-box;
    }
    .destination {
        border: solid 25px coral;
    }
    .current {
        background: rgb(52, 147, 230);
        border: solid 35px $color-valid;
    }
}

